/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  overflow-x: hidden;
  font-family: sans-serif, arial, inter;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav .hamburger {
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  border: 2px solid green;
}
.mobile-nav .hamburger .line {
  height: 2px;
  width: 70%;
  background-color: green;
}

.pc-nav {
  display: none;
}

.benefits {
  margin-bottom: 60px;
}
.benefits .center-items {
  text-align: center;
}
.benefits .card {
  background-color: #ccc;
  padding: 1rem;
  border-radius: 15px;
}
.benefits .card ol {
  list-style-type: decimal;
  padding-left: 1rem;
}

.banner {
  background-color: #ccc;
}
.banner .container .row .col-md-6 {
  margin: 2rem 0;
  align-items: center;
  text-align: center;
}
.banner .container .row .col-md-6 h1 {
  font-weight: 900;
  margin: 3rem;
}
.banner .container .row .col-md-6 img {
  width: 100%;
}
.banner .container .row .col-md-6 button {
  background-color: green;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 6px 26px;
  margin: 1rem;
}

.mission {
  background: url("../images/colleagues-working-together-environment-project (1) 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mission .overlay {
  background-color: rgba(0, 0, 0, 0.533);
}
.mission .overlay .container {
  padding: 25px;
}
.mission .overlay .container h2 {
  margin: 15px 0;
  color: #fff;
}
.mission .overlay .container p {
  color: #fff;
}

.services {
  background-color: #ccc;
}
.services .container h2 {
  font-weight: 700;
}
.services .container .row .col-md-4 img {
  width: 100%;
}
.services .container .row .col-md-4 span {
  color: green;
}

.questions {
  margin-bottom: 3%;
}
.questions .container h2 {
  font-weight: 800;
}

form {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
  background-color: #ccc;
}
form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 3%;
}
form button {
  width: 100%;
  height: 3rem;
  background-color: white;
  border: none;
  border-radius: 6px;
  margin-top: 3%;
}
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.footer {
  background-color: #ccc;
}
.footer .container {
  align-items: center;
  padding: 20px;
  gap: 15px;
  text-align: center;
}
.footer .container input {
  width: 70%;
  padding: 8px;
  border: none;
  border-radius: 5px;
}
.footer .container button {
  width: 6rem;
  height: 3rem;
  background-color: green;
  font-weight: 500;
  border: none;
  margin: 8px 0;
  color: white;
}

.footer-end {
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  justify-content: center;
  height: 4vh;
}
.footer-end p {
  margin-top: 15px;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .pc-nav {
    display: block;
  }
  .pc-nav .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .pc-nav .flex-container ul {
    display: flex;
    gap: 100px;
    color: green;
    align-items: center;
    font-weight: 700;
  }
  .pc-nav .flex-container button {
    background-color: green;
    border: none;
    color: white;
    border-radius: 5px;
    width: 90px;
    height: 45px;
  }
  .benefits .center-items {
    text-align: left;
  }
  .benefits #heading {
    text-align: center;
    margin-bottom: 2em;
  }
  .banner .container .row .col-md-6 h1 {
    margin: 1rem 20px 0;
    font-weight: 900;
    font-size: x-large;
  }
  .banner .container .row .col-md-6 p {
    font-size: small;
  }
  .banner .container .row .col-md-6 button {
    margin: 0;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .banner .container .row .col-md-6 h1 {
    font-size: xx-large;
    margin: 2rem 0;
  }
  .banner .container .row .col-md-6 p {
    margin-bottom: 1rem;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .pc-nav .flex-container .ul {
    gap: 85px;
  }
  .banner {
    background-color: #ccc;
  }
  .banner .banner-text {
    text-align: left !important;
  }
  .banner .banner-text p {
    width: 80%;
    margin-bottom: 2 em !important;
  }
  .banner .container .row .col-md-6 h1 {
    font-size: xx-large;
    margin-bottom: 2rem;
    color: black;
  }
  .banner .container .row .col-md-6 p {
    font-size: larger;
  }
  .banner .container .row .col-md-6 button {
    margin: 2rem 0;
  }
  .footer input {
    width: 35% !important;
  }
}
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width *//*# sourceMappingURL=style.css.map */